# **************************************************************************** #
#                                                                              #
#                                                         :::      ::::::::    #
#    .gitignore                                         :+:      :+:    :+:    #
#                                                     +:+ +:+         +:+      #
#    By: kde-la-c <kde-la-c@student.42madrid>       +#+  +:+       +#+         #
#                                                 +#+#+#+#+#+   +#+            #
#    Created: 2023/04/07 20:59:20 by kde-la-c          #+#    #+#              #
#    Updated: 2023/04/07 20:59:26 by kde-la-c         ###   ########.fr        #
#                                                                              #
# **************************************************************************** #

a.out
*.o
*.a
